{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}MePost{% endblock %}</title>
</head>
<body>
  <div class="nav-bar" id="navBar">
    <a href="{% url 'posts_list' %}"><img src="{% static 'images/home.png' %}"></a>
    <a href="{% url 'my_posts' %}"><img src="{% static 'images/closed-mail-envelope.png' %}"></a>
    <a href="{% url 'add_post' %}"><img src="{% static 'images/add.png' %}"></a>
    <a href="{% url 'profile' %}"><img src="{% static 'images/user.png' %}"></a>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
  {% block content %}{% endblock %}
</body>
</html>
